*.iml
*.ipr
*.iws
.idea
target
*.class
hs_err_pid*
*.jar
*.war
*.ear
overlays/
*.jasper
Invoice.pdf
node/
node_modules/
npm-debug.log*
**/src/main/resources/jtfproperties/custom/
**/src/test/resources/jtfproperties/custom/

installer/freemove-box/artifacts/
